set_property IOSTANDARD LVCMOS33 [get_ports {RA[3]}]
set_property IOSTANDARD LVCMOS33 [get_ports {RA[2]}]
set_property IOSTANDARD LVCMOS33 [get_ports {RA[1]}]
set_property IOSTANDARD LVCMOS33 [get_ports {RA[0]}]
set_property IOSTANDARD LVCMOS33 [get_ports mclr]
set_property PACKAGE_PIN M20 [get_ports mclr]
set_property PACKAGE_PIN R14 [get_ports {RA[0]}]
set_property PACKAGE_PIN P14 [get_ports {RA[1]}]
set_property PACKAGE_PIN N16 [get_ports {RA[2]}]
set_property PACKAGE_PIN M14 [get_ports {RA[3]}]




set_property IOSTANDARD LVCMOS33 [get_ports osc1]
set_property PACKAGE_PIN H16 [get_ports osc1]
